body {
    margin: 0;
}

.header {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: lightgray;
    padding: 10px;
    margin: 0;   
    border-style: solid;
    border-color: lightgray;
}

.rest { 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    background-color: lightgray;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: lightslategray;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    display: block;
}

.desc {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: semi-bold;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.splitter {
    margin: 15px;
}

.restImg {
    width: 75px;
    height: 75px;
    margin-left: 0px;
}

.nav {
    background-color: lightgray;
    margin: 0;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    font-weight: bold;
    font-size: 20px;
}

.navItem {
    display: inline-block;
    background-color: lightslategray;
    margin-top: 0;
    padding: 35px;
    padding-left: 90px;
    padding-right: 90px;
    margin: 10px;
    margin-left: 65px;
    margin-right: 65px;
}